---

layout: archive
year: Eighteen
month: October
file: day_25
permalink: "2018_03_25"
date: Thursday, October 25, 2018
title: "The Army Strategy"

---
<!-- https://stackoverflow.com/questions/40598976/access-json-lumps-in-metafields-with-shopify-liquid-templates -->

{% assign year = page.year %}

{% assign month = page.month %}

{% assign file = page.file %}


<!-- 3 for data in site.data.archive[year][month][file] 4
    <p><strong>{{ data.id }}</strong></p>
        
    <h3>{{data}} test</h3> -->
    <!-- <p>{{content.title}}</p> -->
    <!-- <h3>{{ content.body }}</h3> -->
<!-- 3 endfor 4 -->

<!-- IT WORKS IT WORKS IT WORKS -->
{% for data in site.data.archive[year][month] %}
    {% if data contains file %}

        {% for content in data %}

        {% if content != null %}
            {% if content.id %}

            <div class="inner-contianer">
    
                    <h1>{{ content.title }}</h1>
                    <p class="small">
                        <span class="st-byline">{{ content.subtitle }}</span>
                        <span class="date">{{ content.date }}</span>
                    </p>
                
                {% include alt-social.html %}
                <div class="body two-column-body">
                    <div class="left-column">
            
                        <p>{{ content.body }}</p>
            
                        {% include standto-links.html %}
            
                    </div>
                    <div class="right-column">
            
                        {% include sub-box.html email_id="email1" %}
            
                        {% include standto-events.html %}
            
                    </div>
                </div>
            </div>
            
            {% endif %}
        {% endif %}    

        {% endfor %}

    {% endif %}

{% endfor %}
<!-- IT WORKS IT WORKS IT WORKS -->

