<script>
    const search = instantsearch({
        appId: '{{ site.algolia.application_id }}',
        apiKey: '{{ site.algolia.search_only_api_key }}',
        indexName: '{{ site.algolia.index_name }}',
        searchParameters: {
            hitsPerPage: 10,
        }
    });

    const hitTemplate = function (hit) {
        let search = document.querySelector('.ais-search-box--input');
        let date = '';
        let newDate = '';

        if (hit.year) {
            let year = hit.year;
            let month = hit.month;
            let day = hit.file;

            date = year + "-" + month + "-" + day;

            newDate = moment(date).format("MMM D, YYYY");
        }

        return `<div class="post-item">
                      <p>
                        <span class="post-meta">
                          <span>${newDate}</span>
                        </span>
                        <a class="post-breadcrumbs" href="/standto${hit.url}">
                          ${hit.metaTitle}
                        </a>
                      </p>
                    </div>`
    }

    search.addWidget(
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            autofocus: true,
            //searchOnEnterKeyPressOnly: true,
            placeholder: 'Search Archived STAND-TO\'s...',
            poweredBy: true // This is required if you're on the free Community plan
        })
    );

    search.addWidget(
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                empty: '<h4>No results found</h4>',
                item: hitTemplate
            }
        })
    );

    search.start();
</script>