<!-- 
    These liquid variables are used for assigning varaibles for each archive that will pull the correct content from the correct directory within the _archived_standtos directory 
-->
{%- assign data-path = page.data-path -%}
{%- assign year = page.year -%}
{%- assign month = page.month -%}
{%- assign file = page.file -%}

{%- if data-path == 'older-archives' -%}
{%- assign archive-data = site.data.archived-standto[data-path][year][month] -%}
{%- elsif data-path == 'recent-archives' -%}
{%- assign archive-data = site.data.archived-standto[data-path][year][month] -%}
{%- endif -%}
<!-- 
    These liquid variables are used for assigning varaibles for each archive that will pull the correct content from the correct directory within the _archived_standtos directory 
-->

{%- assign yr = year | to_integer -%}
{%- for data in archive-data -%}
    {%- if data contains file -%}
        {%- for content in data -%}
            {%- if content != null -%} 
                {%- if content.id -%}
                <div class="container">
                    <div class="inner-contianer">
                        <h1>{{ content.title }}</h1>
                        <p class="small">
                            {%- if content.subtitle and content.subtitle != "" -%}
                                <span class="st-byline">{{ content.subtitle }}</span>
                            {%- endif -%}
                            <span class="date">{{ content.st_date }}</span>
                        </p>
                        {%- include dsktp-social.html -%}
                        <div class="body two-column-body">
                            <div class="left-column archived-standto">

                                {%- assign body = content.body -%}

                                {%- if body contains "#######" -%}
                                {{ body | replace: "#######" , "<p class='byline'>" | replace_first: "**", "</p>**" | markdownify }}
                                {%- elsif body contains "#####" and yr < 2017 -%}
                                    {{ body | replace: "#####" , "<p class='byline'>" | replace_first: "###", "</p>###" | markdownify }}
                                {%- elsif body contains "###" and yr < 2017 -%}
                                    {{ body | markdownify }}
                                {%- elsif body contains "**" and yr < 2017 -%}
                                    {{ body | markdownify }}
                                {%- else -%}
                                {%- assign link = content.links -%}
                                {%- include st-body-text.html body=body link=link -%}
                                {%- endif -%}
                            </div>

                            <div class="right-column">

                                {%- include sub-box.html email_id="email1" -%}

                                {%- if content.events and content.events != '' -%}
                                    {%- if yr >= 2018 -%}
                                        {%- include st-events.html archive-events=content.events -%}
                                    {% else %}                
                                    {%- endif -%}
                                {%- endif -%}

                            </div>
                        </div>
                    </div>
                </div>

                {%- if content.quote and content.quote != "" -%}
                    {%- if yr >= 2018 -%}
                        {%- include quote.html quote=content.quote -%}
                    {% else %}
                    {%- endif -%}
                {%- else -%}
                {%- endif -%}

            {%- endif -%}
            
        {%- endif -%}

        {%- endfor -%}
    
    {%- endif -%}

{%- endfor -%}

