{%- assign year = page.year -%}
{%- assign month = page.month -%}
{%- assign file-path = page.data-path -%}

<!-- path to archive data files -->
{%- assign archive = site.data.archived-standto.older-archives[year][month] | sort -%}

<!-- %- assign archive = site.data.archived-standto[file-path][year][month] | sort -% -->

<!-- Convert month from number to name -->
{%- if month == '01' -%}
{%- assign this-month = 'January ' -%}
{%- elsif month == '02' -%}
{%- assign this-month = 'February' -%}
{%- elsif month == '03' -%}
{%- assign this-month = 'March' -%}
{%- elsif month == '04' -%}
{%- assign this-month = 'April' -%}
{%- elsif month == '05' -%}
{%- assign this-month = 'May' -%}
{%- elsif month == '06' -%}
{%- assign this-month = 'June' -%}
{%- elsif month == '07' -%}
{%- assign this-month = 'July' -%}
{%- elsif month == '08' -%}
{%- assign this-month = 'August' -%}
{%- elsif month == '09' -%}
{%- assign this-month = 'September' -%}
{%- elsif month == '10' -%}
{%- assign this-month = 'October' -%}
{%- elsif month == '11' -%}
{%- assign this-month = 'November' -%}
{%- else -%}
{%- assign this-month = 'December' -%}
{%- endif -%}

<div class="container">
    <div class="inner-container">
        <div class="row">
            <div class="col-hd">
                <h3>Stand-To! Archive</h3>
            </div>
            <div class="col-month">
                <div class="ar-lst">
                    <h5 class="hd-month"><strong>
                            {{ this-month }}
                            {{ page.year }}
                            &#124;
                            FOCUS TOPICS
                        </strong></h5>
                    <ul>
                        {%- for item in archive -%}
                        <li>
                            {%- assign yr = page.year | to_integer -%}
                            {%- if yr <= 2012 -%}
                                <a href="{{item.first}}">
                            {%- else -%}
                            <a href="../../../archive_{{page.year}}-{{month}}-{{item.first}}/">
                            {%- endif -%}
                            
                                {{ this-month }}
                                {{ item.first | abs }},
                                {{ page.year }}
                                &#124;
                                <span class="norm-fnt-lb">
                                    {%- for title in item -%}
                                    {%- if title.title -%}
                                    {{title.title}}
                                    {%- endif -%}
                                    {%- endfor -%}
                                </span>
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>