<section class="alt-social-bar">
  <ul>
    <li class="social-button-sm twitter-button"> <a rel="noopener noreferrer" target="_blank"
        href="https://twitter.com/share"><span>Share on Twitter</span></a></li>
    <li class="social-button-sm facebook-button"> <a rel="noopener noreferrer" target="_blank"
        href="https://www.facebook.com/dialog/feed"><span>Share on Facebook</span></a></li>
    <li class="social-button-sm reddit-button"> <a rel="noopener noreferrer" target="_blank"
        href="https://www.reddit.com/submit"><span>Share on Reddit</span></a></li>
    <li class="social-button-sm linkedin-button"> <a rel="noopener noreferrer" target="_blank"
        href="https://www.linkedin.com/cws/share"><span>Share on LinkedIn</span></a></li>
    <li class="social-button-sm email-button"> <a rel="noopener noreferrer" target="_blank"
        href="mailto:?Subject=STAND-TO%21%20-{{ page.title | url_encode }}&amp;body="><span>Share via Email</span></a></li>
    <li class="social-button-sm print-button"> <a href="javascript:void(0)" onclick="window.print()"><span>Print this
          article</span></a></li>
  </ul>
</section>