<div class="page-banner parallax-image standard">
    <div class="full-width-image">
        <div class="overlay-effect"></div>
        <img src="/e2/images/rv7/banners/social-media/stand_to_banner_v5.jpg"
             alt="U.S. Army" />
    </div>
    <div class="container standto">
        <div class="main-header">
            <div class="header-logo"></div>
        </div>
    </div>
</div>
<!-- <div class="page-banner parallax-image standard">
    <div class="full-width-image">
        <div class="overlay-effect"></div>
        <img src="/e2/images/rv7/banners/social-media/1600.jpg"
             srcset="/e2/images/rv7/banners/social-media/2500.jpg 2500w,
                     /e2/images/rv7/banners/social-media/1600.jpg 1600w,
                    /e2/images/rv7/banners/social-media/768.jpg 768w"
             alt="U.S. Army Social Media" />
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="left-container">
                <h1>ARMY SOCIAL MEDIA</h1>
                <h2>{{ page.pagetitle }}</h2>
            </div>
        </div>
    </div>
</div> -->
