<!-- Mobile -->
<section id="social-bar-id" class="social-bar">
    <h2 class="hidden">Social Sharing</h2>
    <ul>
        <li class="social-button no-hover twitter-button">
            <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/share"><span>Share on Twitter</span></a>
        </li>
        <li class="social-button no-hover facebook-button">
            <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/dialog/feed"><span>Share on Facebook</span></a>
        </li>
        <li class="social-button no-hover reddit-button">
            <a rel="noopener noreferrer" target="_blank" href="https://www.reddit.com/submit"><span>Share on Reddit</span></a>
        </li>
        <li class="social-button no-hover linkedin-button">
            <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/cws/share"><span>Share on LinkedIn</span></a>
        </li>
        <li class="social-button no-hover email-button">
            <a rel="noopener noreferrer" target="_blank" href="mailto:?Subject={{ page.metaTitle }}&amp;body="><span>Share via Email</span></a>
        </li>
    </ul>
</section>