
{% if page.pageid == 'archive' %}
    {% include base.html %}
    <nav id="nav-bar" {% if include.dropdown %} class="dropdown" {% endif %}>
            <input type="checkbox" id="subnav-toggle{% if include.dropdown %}1{% endif %}">
            <div class="subnav-container">
                <div class="subnav-inner">
                    <label for="subnav-toggle{% if include.dropdown %}1{% endif %}">{% if page.active == 'archive' %}{{'archive' }}{% else %}{{ page.active }}{% endif %}</label>
                    <ul class="container">
                        <li>
                            <a href="{% if page.pageid == 'archived-standto' %}{{ base }}{{ page.permalink }}{% else %}{{ base }}{% endif %}">Today's Focus</a>
                        </li>
                        <li>
                            <a href="{{ base }}/#archive">Archive</a>
                        </li>
                        <li>
                            <a {% if page.active == 'archive'%} class="active" {% endif %} href="{{ base }}/archive/">Stand-to! Archives</a>
                        </li>
                        <li>
                            <a href="{{ base }}/#about">ABOUT</a>
                        </li>
                        {% if include.dropdown %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
{% else %}
    <nav>
        <input type="checkbox" id="subnav-toggle">
        <div class="subnav-container">
            <div class="subnav-inner">
                <label for="subnav-toggle">STAND-TO! Menu</label>
                <ul class="container">
                    <li><a href="" id="focus">Today's Focus</a></li>
                    <li><a href="#archive">Archive</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}


