{% include base.html %}

<nav id="nav-bar" {% if include.dropdown %} class="dropdown" {% endif %}>
    <input type="checkbox" id="subnav-toggle{% if include.dropdown %}1{% endif %}">
    <div class="subnav-container">
        <div class="subnav-inner">
            <label for="subnav-toggle{% if include.dropdown %}1{% endif %}">{% if page.active == 'archive' %}{{'archive' }}{% else %}{{ page.active }}{% endif %}</label>
            <ul class="container">
                <li><a {% if page.active == 'standto' %} class="active" {% endif %} href="{% if page.pageid == 'archived-standto' %}{{ page.permalink }}{% else %}{{ base }}{% endif %}">Today's Focus</a></li>
                <li><a {% if page.active == 'archive' or page.active == 'archives' or page.pageid == 'archived-standto' %} class="active" {% endif %} href="{{ base }}/archives/">ARCHIVE</a></li>
                <li><a {% if page.active == 'about' %} class="active" {% endif %} href="{{ base }}/about/">ABOUT</a></li>
                {% if include.dropdown %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- <ul class="container">
    <li>
        <a {% if page.active == 'standto' %} class="active" {% endif %} href="{% if page.pageid == 'archived-standto' %}{{ base }}{{ page.permalink }}{% else %}{{ base }}{% endif %}">Today's Focus</a>
    </li>
    <li>
        <a {% if page.active == 'archive' or page.active == 'archives' or page.pageid == 'archived-standto' %} class="active" {% endif %} href="{% if page.pageid == 'archived-standto' %}{{ base }}{{ page.permalink }}{% else %}{{ base }}/archives/{% endif %}">ARCHIVE</a>
    </li>
    <li>
        <a {% if page.active == 'about' %} class="active" {% endif %} href="{% if page.pageid == 'archived-standto' %}{{ base }}{{ page.permalink }}{% else %}{{ base }}/about/{% endif %}">ABOUT</a>
    </li>
    {% if include.dropdown %}
    {% endif %}
</ul> -->