<!-- SCRIPTS -->
<!-- <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=en"></script>
<script type="text/javascript" src="https://www.army.mil/e2/js/rv7/3rdparty/livefilter/jquery.fastLiveFilter.js"></script>
<script type="text/javascript">
    
    function blurURL(el) {
        var value = $(el).val();

        if (!/^https?:\/\//i.test(value) && value.length > 0)
            $(el).val('https://' + value);

        if (el.checkValidity()) {
            $(el).removeClass('invalid');
        } else {
            $(el).addClass('invalid');
        }
    }

    (function($) {
        var form = document.forms['sm-account-form'],
        submit = form.elements['sm-account-submit'];

        $('input[type=url]').on('blur', function () {
            blurURL(this);
        });

        $('.reset-form').on('click', function (e) {
            e.preventDefault();
            $('.status').hide();
            $('.registration-form').show();
        });

        submit.onclick = function (e) {
            e.preventDefault();

            $('.status').hide();

            var body = '',
                email = $('#sm-ako').val(),
                links = $('input[type=url]'),
                name = $('#sm-name').val(),
                noValidateLinks = $('input[type=url].no-validate'),
                org = $('#sm-org').val(),
                phone = $('#sm-phone').val(),
                response = grecaptcha.getResponse();

            $.each(noValidateLinks, function (key, item) {
                if ($(item).val() !== '') {
                    $(item).removeClass('no-validate');
                } else {
                    $(item).addClass('no-validate');
                }
            });

            if (form.validate()) {
                $('.status').hide();

                body = 'Submitted By: ' + name +
                    ' (' + email +
                    ')\n\nPhone: ' + phone +
                    '\n\nOrganization: ' + org +
                    '\n\nLinks\n';

                $.each(links, function (key, item) {
                    if ($(item).val() !== '') body += $(item).val() + '\n';
                });

                $.ajax({
                    url: 'https://api.army.mil/api/v1/email',
                    type: 'get', //send it through get method
                    data: {
                        'g-recaptcha-response': response,
                        'to': 'usarmy.pentagon.hqda-ocpa.mbx.dmd-inquiry@mail.mil',
                        'subject': 'Social Media Link Submission',
                        'from': email,
                        'body': body
                    },
                    success: function (response) {
                        window.scroll(0, 0);
                        $('.status.success').show();
                        $('.registration-form').hide();
                        form.reset();
                    },
                    error: function (xhr) {
                        window.scroll(0, 0);
                        $('.status.failure').show();
                    },
                    complete: function () {
                        grecaptcha.reset();
                    }
                });
            } else {
                window.scroll(0, 0);
                $('.fields.status').show();
            }
        };

        //Manages add another link button
        $('#add-sm-link').click(function () {
            var numLinks = $('[id^=sm-account]').length,
                html = '',
                newNum = numLinks + 1;

            html += '<div class="field-block">';
            html += '<label for="sm-account' + newNum + '">Social Media Account URL (Optional)</label>';
            html += '<input name="sm-account[]" id="sm-account' + newNum + '"';
            html += ' pattern="^(https?:\\/\\/)?(\\w+(-\\w+)*\\.){2,}[a-z]{2,}(:[0-9]+)?(\\/[\\w\\-]+)*' +
                '(\\/([\\w\\-\\x40$\\.\\x2B!*\\x27(),]|(%[A-Z0-9]{2}))+)?((\\.[a-z]{2,})|\\/)?' +
                '((\\?[\\w\\-]+=([\\w\\-\\x40$\\.\\x2B!*\\x27(),]|(%[A-Z0-9]{2}))+)' +
                '(\\x26[\\w\\-]+=([\\w\\-\\x40$\\.\\x2B!*\\x27(),]|(%[A-Z0-9]{2}))+)*)?' +
                '(#([\\w\\-\\x40$\\.\\x2B!*\\x27(),]|(%[A-Z0-9]{2}))+)?$"';
            html += ' type="url" value="" />';
            html += '<span class="validation">Please match the requested format (https://www.domain.com/).</span>';
            html += '</div>';

            $('#more-accounts').append(html);

            $('#sm-account' + newNum).on('blur', function () {
                blurURL(this);
            });
        });

    })(jQuery);
</script> -->
<!-- END SCRIPTS -->
