{%- if include.standto-data -%}

    <!-- 
        Print text if the data file has this content: 
    -->
    {%- for a in standto-data.body -%}

        <!-- If there is a heading object, it prints the heading here: -->
        {%- if a.heading and a.heading != "" -%}
          <p><strong>{{ a.heading }}</strong></p>
        {%- endif -%}

        <!-- If there is a paragraph object, it prints the paragraph here: -->
        {%- if a.paragraph and a.paragraph != "" -%}
          {{ a.paragraph | markdownify }}
        {%- endif -%}

        <!-- If there is a list object, it prints the list here: -->
        {%- if a.list and a.list != "" -%}
          {{ a.list | markdownify }}
        {%- endif -%}

    {%- endfor -%}

    {%- for b in standto-data.links -%}

        {%- if b.section -%}

            {%- for title in b.section -%}

              {% if title.section-title and title.section-title != "" %}
                <h5>{{ title.section-title }}</h5>
              {% endif %}

              {% if title.list %}
                {{ title.list | markdownify }}
              {% endif %}

            {%- endfor -%}

        {%- endif -%}

    {%- endfor -%}

{%- endif -%}