<!-- This is the template for the events section of the archived ST -->
<div class="events top-stories">
  
  {%- if include.standto-events and include.standto-events contains "####" -%}

  {{ include.standto-events  | replace: '|', "&#124;" | markdownify }}

  {%- elsif include.standto-events -%}
  <h4>Events</h4>

    {%- for a in include.standto-events -%}
    
      {%- if a.section -%}

        {%- for item in a.section -%}
            
          <p><strong>{{ item.date }}</strong></p>

          {%- if item.content and item.content != "" -%}

            {%- for b in item.content -%}
              
              {{ b.item  | replace: '|', "&#124;" | markdownify }}

            {%- endfor -%}

          {%- endif -%}

        {%- endfor -%}
        
      {%- endif -%}
        
    {%- endfor -%}

    {%- elsif include.archive-events -%}

      {%- if include.archive-events contains "####" -%}

        {{ include.archive-events  | replace: '|', "&#124;" | markdownify }}

      {%- elsif include.archive-events contains "------------" -%}

      {{ include.archive-events  | replace: '|', "&#124;" | markdownify }}

      {%- else -%}

        <h4>Events</h4>

       {%- for a in include.archive-events -%}
    
          {%- if a.section -%}

            {%- for item in a.section -%}
                
              <p><strong>{{ item.date }}</strong></p>

              {%- if item.content and item.content != "" -%}

                {%- for b in item.content -%}
                  
                  {{ b.item | replace: '|', "&#124;" | markdownify }}

                {%- endfor -%}

              {%- endif -%}

            {%- endfor -%}
            
          {%- endif -%}
            
        {%- endfor -%}
    
      {%- endif -%}

  {%- endif -%}

</div>