<div class="events top-stories">

  {%- if page.active == 'standto' or include.events == null or include.events == '' -%}
  <h4>Events</h4>

    {%- for c in site.data.standto.todays-focus.events -%}
    
      {%- if c.section -%}

        {%- for item in c.section -%}
            
          <p><strong>{{ item.date}}</strong></p>

          {%- if item.content != null -%}

            {%- for a in item.content -%}
              
              <p>{{ a.subcontent }} &ndash; Visit <a href="{{ a.url }}">{{ a.title }}</a></p>

            {%- endfor -%}

          {%- endif -%}

        {%- endfor -%}
        
      {%- endif -%}
        
    {%- endfor -%}

    {% else %}
    
    {{ include.events | markdownify }}

  {%- endif -%}


</div>