$social-buttons: url("/e2/images/rv7/socialmedia/formoresafetytipsv3_spritesheet.svg");

.about {
  h5 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  // .info-graphic {
  //   background-color: map-get($army-branding, grey10);
  // }
  // .page-overview {
  //   .learn-more-outer {
  //     display: inline-block;
  //     .learn-more-left {
  //       float: left;
  //       width: 60%;
  //       @include breakpoints(sm_desktop lg_tablet) {
  //         width: 50%;
  //       }
  //       @include breakpoints(tablet nav mobile) {
  //         width: 100%;
  //         height: auto;
  //         margin-bottom: 15px;
  //       }
  //     }
  //     .callout-box {
  //       width: 35%;
  //       @include breakpoints(tablet nav mobile) {
  //         width: 100%;
  //         height: auto;
  //       }
  //       @include breakpoints(lg_tablet) {
  //         padding: 20px;
  //       }
  //       float: right;
  //       min-width: 160px;
  //       text-align: center;
  //       border: 1px solid map-get($army-branding, gold);
  //       padding: 30px;
  //       .callout-box-title {
  //         font-size: 20px;
  //         margin-bottom: 10px;
  //       }
  //       .btn {
  //         div {
  //           a {
  //             text-decoration: none;
  //             &:hover {
  //               color: #000;
  //             }
  //           }
  //           width: 100%;
  //         }
  //       }
  //     }
  //   }
  //   .thinktypepost {
  //     background: url(/e2/images/rv7/socialmedia/think_type_post.svg) no-repeat top center;
  //     width: 100%;
  //     height: auto;
  //     padding: 36%;
  //   }
  // }
  // .conduct {
  //   background-color: map-get($army-branding, grey10);
  // }
  // .safety-tips li {
  //   list-style: none;
  //   padding-left: 0;
  //   margin-left: 0;
  // }
  // .security {
  //   @import "flipper";
  // }
  // .do-dont-container {
  //   overflow: auto;
  //   .dosanddontsheader {
  //     background: url(/e2/images/rv7/socialmedia/socialmediapostdosanddontsupdate.svg) no-repeat top center;
  //     width: 100%;
  //     height: auto;
  //     padding: 25%;
  //   }
  //   ul {
  //     height: auto;
  //     display: inline-block;
  //     vertical-align: top;
  //     border: 3px dashed;
  //     padding-top: 130px;
  //     padding-left: 20px;
  //     padding-right: 20px;
  //     padding-bottom: 20px;
  //     box-sizing: border-box;
  //     min-height: 614px;
  //     @include breakpoints(sm_desktop desktop large really_big) {
  //       min-height: 547px;
  //     }
  //     @include breakpoints(mobile nav tablet) {
  //       width: 100%;
  //       min-height: auto;
  //     }
  //   }
  //   .do-container {
  //     margin-right: 1%;
  //     padding-bottom: 60px;
  //     width: 49%;
  //     float: left;
  //     position: relative;
  //     margin-top: 49px;
  //     @include breakpoints(mobile nav tablet) {
  //       width: 100%;
  //     }
  //     @include breakpoints(lg_tablet) {
  //       margin-top: 44px;
  //     }
  //     @include breakpoints(nav tablet) {
  //       margin-top: 38px;
  //     }
  //     @include breakpoints(mobile) {
  //       margin-top: 42px;
  //     }
  //     img {
  //       height: 160px;
  //       left: 50%;
  //       position: absolute;
  //       -webkit-transform: translateX(-50%);
  //       -moz-transform: translateX(-50%);
  //       transform: translateX(-50%);
  //       -ms-transform: translateX(-50%);
  //       z-index: 1;
  //       bottom: 86.7%;
  //       @include breakpoints(lg_tablet) {
  //         bottom: 87.7%;
  //       }
  //       @include breakpoints(tablet) {
  //         bottom: 80.8%;
  //       }
  //       @include breakpoints(nav) {
  //         bottom: 83.7%;
  //         height: 146px;
  //       }
  //       @include breakpoints(mobile) {
  //         height: 146px;
  //         bottom: 84.6%;
  //       }
  //     }
  //     ul {
  //       border-color: rgb(59, 181, 74);
  //       @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
  //         padding-bottom: 105px;
  //       }
  //     }
  //     @include breakpoints(lg_tablet) {
  //       padding-bottom: 18%;
  //     }
  //   }
  //   .dont-container {
  //     border-color: #f00;
  //     padding-bottom: 60px;
  //     width: 49%;
  //     margin-left: 1%;
  //     float: left;
  //     position: relative;
  //     margin-top: 48px;
  //     @include breakpoints(mobile nav tablet) {
  //       width: 100%;
  //       margin-left: 0;
  //       margin-top: 28px;
  //     }
  //     @include breakpoints(lg_tablet) {
  //       margin-top: 45px;
  //     }
  //     img {
  //       height: 151px;
  //       left: 50%;
  //       position: absolute;
  //       -webkit-transform: translateX(-50%);
  //       -moz-transform: translateX(-50%);
  //       transform: translateX(-50%);
  //       -ms-transform: translateX(-50%);
  //       z-index: 1;
  //       bottom: 86.7%;
  //       @include breakpoints(lg_tablet) {
  //         bottom: 86.8%;
  //       }
  //       @include breakpoints(tablet) {
  //         bottom: 81.9%;
  //       }
  //       @include breakpoints(nav) {
  //         bottom: 84.7%;
  //         height: 146px;
  //       }
  //       @include breakpoints(mobile) {
  //         bottom: 85.7%;
  //         height: 145px;
  //       }
  //     }
  //     ul {
  //       border-color: rgb(200, 32, 57);
  //     }
  //   }
  // }
  // .cards-container {
  //   overflow: hidden;
  //   padding-bottom: 100px;
  //   @include breakpoints(nav) {
  //     padding-bottom: 120px;
  //   }
  //   @include breakpoints(mobile tablet lg_tablet) {
  //     padding-bottom: 50px;
  //   }
  // }
  // .geotagging-container {
  //   overflow: hidden;
  //   .geotagging-outer {
  //     display: inline-block;
  //     .geotagging-left {
  //       float: left;
  //       width: 60%;
  //       @include breakpoints(sm_desktop lg_tablet) {
  //         width: 50%;
  //       }
  //       @include breakpoints(tablet nav mobile) {
  //         width: 100%;
  //         height: auto;
  //         margin-bottom: 15px;
  //       }
  //     }
  //     .geotagging-img {
  //       background: url(/e2/images/rv7/socialmedia/geotagging.svg) no-repeat top center;
  //       float: right;
  //       height: 310px;
  //       width: 35%;
  //       @include breakpoints(tablet nav mobile) {
  //         width: 100%;
  //         height: auto;
  //         padding: 36%;
  //       }
  //     }
  //   }
  // }
  // .safety-container {
  //   h5 {
  //     color: #acb6c5;
  //     text-align: center;
  //     font-size: 31px;
  //     margin-bottom: 60px;
  //     @include breakpoints(lg_tablet) {
  //       font-size: 21px;
  //       margin-bottom: 30px;
  //     }
  //     @include breakpoints(tablet nav mobile) {
  //       font-size: 1em;
  //       margin-bottom: 20px;
  //     }
  //     &.horiz-line {
  //       overflow: hidden;
  //       text-align: center;
  //     }
  //     &.horiz-line > span {
  //       position: relative;
  //       display: inline-block;
  //     }
  //     &.horiz-line > span:before,
  //     &.horiz-line > span:after {
  //       content: "";
  //       position: absolute;
  //       top: 50%;
  //       border-bottom: 2px solid #acb6c5;
  //       width: 50%; /* half of limiter */
  //       margin: 0 20px;
  //     }
  //     &.horiz-line > span:before {
  //       right: 100%;
  //     }
  //     &.horiz-line > span:after {
  //       left: 100%;
  //     }
  //   }
  //   ul {
  //     display: inline-block;
  //     float: none;
  //     text-align: center;
  //     vertical-align: middle;
  //     width: 100%;
  //     li {
  //       display: inline-block;
  //       margin: 0 0 15px 15px;
  //       text-align: center;
  //       vertical-align: middle;
  //       width: 12%;
  //       height: auto;
  //       transform: scale(0.5);
  //       @include breakpoints(sm_desktop desktop large really_big) {
  //         transform: scale(1.5);
  //       }
  //       @include breakpoints(nav tablet lg_tablet) {
  //         transform: scale(1);
  //       }
  //       @include breakpoints(mobile nav) {
  //         margin: 0 0 15px 10px;
  //       }
  //       a {
  //         display: inline-block;
  //         span {
  //           display: block;
  //           height: 68px;
  //           width: 68px;
  //           @include breakpoints(mobile nav) {
  //             height: 69px;
  //             &:hover {
  //               height: 68px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //     li.fb-button {
  //       @include breakpoints(mobile) {
  //         margin: 0 0 15px 0;
  //       }
  //       a {
  //         span {
  //           background: transparent $social-buttons no-repeat scroll -136px -68px;
  //           //width: 18px;
  //           &:hover {
  //             background: transparent $social-buttons no-repeat scroll -136px 0;
  //           }
  //         }
  //       }
  //     }
  //     li.twitter-button {
  //       a {
  //         span {
  //           background: transparent $social-buttons no-repeat scroll -204px -68px;
  //           //width: 40px;
  //           &:hover {
  //             background: transparent $social-buttons no-repeat scroll -204px 0;
  //           }
  //         }
  //       }
  //     }
  //     li.linkedin-button {
  //       a {
  //         span {
  //           background: transparent $social-buttons no-repeat scroll -340px -68px;
  //           //width: 34px;
  //           &:hover {
  //             background: transparent $social-buttons no-repeat scroll -340px 0;
  //           }
  //         }
  //       }
  //     }
  //     li.gplus-button {
  //       a {
  //         span {
  //           background: transparent $social-buttons no-repeat scroll -272px -68px;
  //           //width: 49px;
  //           &:hover {
  //             background: transparent $social-buttons no-repeat scroll -272px 0;
  //           }
  //         }
  //       }
  //     }
  //     li.social-button {
  //       a {
  //         span {
  //           background: transparent $social-buttons no-repeat scroll -68px -68px;
  //           //width: 44px;
  //           //height: 38px;
  //           &:hover {
  //             background: transparent $social-buttons no-repeat scroll -68px 0;
  //           }
  //         }
  //       }
  //     }
  //     li.comp-button {
  //       a {
  //         span {
  //           background: transparent $social-buttons no-repeat scroll 0 -68px;
  //           &:hover {
  //             background: transparent $social-buttons no-repeat scroll 0 0;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .body {
    a {
      text-decoration: none;
      font-weight: 400;
      color: #0071bb;
      border-bottom: 1px solid #ccc;
    }
  }
  .two-column-body > div.left-column {
    display: table-cell;
    width: 60%;
    @include breakpoints(mobile nav tablet lg_tablet) {
      width: 100%;
      padding: 0 5px;
      display: block;
    }
  }
  .two-column-body > div.right-column {
    display: table-cell;
    padding-left: 30px;
    width: 35%;
    @include breakpoints(mobile nav tablet lg_tablet) {
      width: 100%;
      margin-top: 15px;
      display: block;
      padding: 30px 5px 0 5px;
    }
  }
  .sub-box {
    padding: 30px;
    border: 1px solid map-get($army-branding, gold);
    margin-bottom: 30px;
    .subscribe {
      label {
        display: block;
        font-weight: 600;
        margin-bottom: 1.25em;
      }
      input[type="text"] {
        padding: 15px;
        display: block;
        width: 100%;
        text-align: left;
        font-size: 1em;
        border-radius: 0;
        border: 1px solid #b3b3b3;
      }
      .btn {
        > div {
          display: block;
          margin: 15px 0 0;
        }
      }
    }
  }
  .info {
    background-color: map-get($army-branding, darkcamo);
    color: map-get($army-branding, white);
    text-align: center;
    padding: 40px 20px 20px;
    h4 {
      text-align: center;
      margin: 0;
      &::after {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .info-inner {
      border-spacing: 20px;
      display: table;
      margin: 0 auto;
      max-width: 940px;
      overflow: hidden;
      padding: 30px;
      a {
        border: 1px solid map-get($army-branding, white);
        display: table-cell;
        position: relative;
        width: 33%;
        .info-box {
          .icon {
            background: url("/e2/images/rv7/mobile_redesign_sprite_icons_v2.svg") -463px 0 no-repeat;
            height: 100px;
            width: 102px;
            display: inline-block;
            margin: 30px;
          }
          &.box2 {
            .icon {
              background-position: -564px 0;
            }
          }
          &.box3 {
            .icon {
              background-position: -665px 0;
            }
          }
          .box-text {
            margin: 0 30px 30px;
            p {
              font-size: 18px;
              font-family: Overpass, sans-serif;
              color: map-get($army-branding, white);
              .wordbreak {
                word-break: break-all;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
