.archive-body {
  @include box-sizing(border-box);
  .container {
    .inner-container {
      .row {
        .col-hd {
          @include span(12, 10);
          margin-left: 15px;
        }
        .col-yr {
          @include span(3);
          margin-top: 15px;
          margin-bottom: 15px;

          .ar-lst {
            border: 1px solid map-get($army-branding, mediumcamo);
            min-height: 376px;
            .hd-yr {
              background-color: map-get($army-branding, darkcamo);
              color: map-get($army-branding, white);
              text-align: center;

              margin-bottom: 0;

              padding: 9px 0;
            }
            ul {
              padding: 15px;
            }
          }
        }
        .col-month {
          @include span(12);
          margin: 15px 0;
          .ar-lst {
            background-color: map-get($army-branding, grey10);
            border: 1px solid map-get($army-branding, mediumcamo);
            min-height: 376px;
            @include box-shadow(0, 2px, 8px, 2px, rgba(0,0,0, .2));
            .hd-yr {
              background-color: map-get($army-branding, darkcamo);
              color: map-get($army-branding, white);
              text-align: center;

              margin-bottom: 0;

              padding: 9px 0;
            }
            ul {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
}

