
// //NEW CODE
// .card {
// 	perspective: 1000px;
// 	-webkit-perspective: 1000px;
// 	-moz-perspective: 1000px;
// 	-o-perspective: 1000px;
// 	-ms-perspective: 1000px;
// 	//margin:80px 150px;
// 	//width:320px;
// 	//height:243px;
// 	//vertical-align:top;
// 	//position:absolute;
// 	//display:block;
// }

// .card .content {
// 	transition: 0.5s ease-out;
// 	-webkit-transition: 0.5s ease-out;
// 	-moz-transition: 0.5s ease-out;
// 	-o-transition: 0.5s ease-out;
// 	-ms-transition: 0.5s ease-out;
// 	transform-style: preserve-3d;
// 	-webkit-transform-style: preserve-3d;
// 	-moz-transform-style: preserve-3d;
// 	-o-transform-style: preserve-3d;
// 	-ms-transform-style: preserve-3d;

// 	/* content backface is visible so that static content still appears */
// 	backface-visibility: visible;
// 	-webkit-backface-visibility: visible;
// 	-moz-backface-visibility: visible;
// 	-o-backface-visibility: visible;
// 	-ms-backface-visibility: visible;

// 	position:relative;
// 	width: 100%;
// 	height: 100%;
// }
// .card.applyflip .content {
// 	transform: rotateY(180deg);
// 	-webkit-transform: rotateY(180deg);
// 	-moz-transform: rotateY(180deg);
// 	-o-transform: rotateY(180deg);
// 	-ms-transform: rotateY(180deg);
// }


// .card .content .cardStatic {
// 	/* Half way through the card flip, rotate static content to 0 degrees */
// 	transition: 0s linear 0.17s;
// 	-webkit-transition: 0s linear 0.17s;
// 	-moz-transition: 0s linear 0.17s;
// 	-o-transition: 0s linear 0.17s;
// 	-ms-transition: 0s linear 0.17s;
// 	transform: rotateY(0deg);
// 	-webkit-transform: rotateY(0deg);
// 	-moz-transform: rotateY(0deg);
// 	-o-transform: rotateY(0deg);
// 	-ms-transform: rotateY(0deg);
  
// 	text-align: center;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 0;
// 	width: 100%;
// 	line-height:100px;
// }

// .card.applyflip .content .cardStatic {
// 	/* Half way through the card flip, rotate static content to -180 degrees -- to negate the flip and unmirror the static content */
// 	transition: 0s linear 0.17s;
// 	-webkit-transition: 0s linear 0.17s;
// 	-moz-transition: 0s linear 0.17s;
// 	-o-transition: 0s linear 0.17s;
// 	-ms-transition: 0s linear 0.17s;
// 	transform: rotateY(-180deg);
// 	-webkit-transform: rotateY(-180deg);
// 	-moz-transform: rotateY(-180deg);
// 	-o-transform: rotateY(-180deg);
// 	-ms-transform: rotateY(-180deg);
// }

// .card .content .cardFront, .card .content .cardBack {
// 	/* Backface visibility works great for all but IE. As such, we mark the backface visible in IE and manage visibility ourselves */
// 	backface-visibility: hidden;
// 	-webkit-backface-visibility: hidden;
// 	-moz-backface-visibility: hidden;
// 	-o-backface-visibility: hidden;
// 	-ms-backface-visibility: visible;
  
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 100%;
// 	width: 100%;
// 	text-align: center;
// 	line-height:200px;
// }
// .card .content .cardFront, .card.applyflip .content .cardFront {
// 	transform: rotateY(0deg);
// 	-webkit-transform: rotateY(0deg);
// 	-moz-transform: rotateY(0deg);
// 	-o-transform: rotateY(0deg);
// 	-ms-transform: rotateY(0deg);
// }

// .card .content .cardBack, .card.applyflip .content .cardBack {
// 	transform: rotateY(-180deg);
// 	-webkit-transform: rotateY(-180deg);
// 	-moz-transform: rotateY(-180deg);
// 	-o-transform: rotateY(-180deg);
// 	-ms-transform: rotateY(-180deg);
// }

// .card .content .cardFront, .card.applyflip .content .cardBack {
// 	/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
// 	animation: stayvisible 0.5s both;
// 	-webkit-animation: stayvisible 0.5s both;
// 	-moz-animation: stayvisible 0.5s both;
// 	-o-animation: stayvisible 0.5s both;
// 	-ms-animation: donothing 0.5s;
// 	-ms-transition: visibility 0s linear 0.17s;
// 	visibility: visible;
// }
// .card.applyflip .content .cardFront, .card .content .cardBack {
// 	/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
// 	animation: stayvisible 0.5s both;
// 	-webkit-animation: stayvisible 0.5s both;
// 	-moz-animation: stayvisible 0.5s both;
// 	-o-animation: stayvisible 0.5s both;
// 	-ms-animation: donothing 0.5s;
// 	-ms-transition: visibility 0s linear 0.17s;
// 	visibility: hidden;
// }
// @keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
// @-webkit-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
// @-moz-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
// @-o-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
// @-ms-keyframes donothing { 0% { } 100% { } }

// //OLD CODE
// .flip-container {
// 	margin-bottom: 55px;
// 	&:hover, &:focus {
// 		@include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
// 			cursor: pointer;
// 		}
// 	}
// }

// .flip-container, .cardFront, .cardBack {
// 	width: 100%;
// 	max-width: 650px;
// 	max-height: 430px;
// 	height: auto!important
// }

// .left-fb-flip, .left-twitter-flip {
// 	padding-right: 1%;
// 	@include breakpoints(mobile nav) {
// 		padding-right: 0px;
// 	}
// }
// .right-fb-flip, .right-twitter-flip {
// 	padding-left: 1%;
// 	@include breakpoints(mobile nav) {
// 		padding-left: 0px;
// 	}
// }

// .left-fb-flip, .right-fb-flip {
// 	float: left;
// 	width: 50%;
// 	padding-bottom: 45%;
// 	@include breakpoints(mobile nav) {
// 		width: 100%;
// 		padding-bottom: 100%;
// 	}
// }
// .left-twitter-flip, .right-twitter-flip {
// 	float: left;
// 	width: 50%;
// 	padding-bottom: 40%;
// 	@include breakpoints(mobile nav) {
// 		width: 100%;
// 		padding-bottom: 90%;
// 	}
// }

// //Images
// .left-fb-flip {
//   .cardFront, .cardBack {
//     width: 100%;
//     height: auto;
//     padding: 45%;
//   }
// 	.cardFront {
// 	  background: url(/e2/images/rv7/socialmedia/afghanistan_danger.svg) no-repeat top center;
// 	}
//   .cardBack {
//     background: url(/e2/images/rv7/socialmedia/afghanistan_safe.svg) no-repeat top center;
//   }
// }
// .right-fb-flip {
//   .cardFront, .cardBack {
//     width: 100%;
//     height: auto;
//     padding: 45%;
//   }
// 	.cardFront {
// 	  background: url(/e2/images/rv7/socialmedia/winter_danger.svg) no-repeat top center;
// 	}
//   .cardBack {
//     background: url(/e2/images/rv7/socialmedia/winter_safe.svg) no-repeat top center;
//   }
// }
// .left-twitter-flip {
//   .cardFront, .cardBack {
//     width: 100%;
//     height: auto;
//     padding: 40%;
//   }
// 	.cardFront {
// 	  background: url(/e2/images/rv7/socialmedia/edwardsville_danger.svg) no-repeat top center;
// 	}
//   .cardBack {
//     background: url(/e2/images/rv7/socialmedia/edwardsville_safe.svg) no-repeat top center;
//   }
// }
// .right-twitter-flip {
//   .cardFront, .cardBack {
//     width: 100%;
//     height: auto;
//     padding: 40%;
//   }
// 	.cardFront {
// 	  background: url(/e2/images/rv7/socialmedia/kuwait_danger.svg) no-repeat top center;
// 	}
//   .cardBack {
//     background: url(/e2/images/rv7/socialmedia/kuwait_safe.svg) no-repeat top center;
//   }
// }

// .flip-btn {
//   position: absolute;
//   left: 0;
//   bottom: -40px;
//   width: 100%;
//   text-align: right;
// 	div {
// 		width: 100%;
// 		background-color: map-get($army-branding, grey20);
//     display: block;
// 		a { 
// 			text-decoration: none;
// 			&:hover, &:focus { color: #000; }
// 			div:first-child {
// 				background: url(/e2/images/rv7/socialmedia/blackarrowssprite.svg) no-repeat 15px 17px;
// 				position: absolute;
// 				top: -16.8%;
// 				width: 50px;
// 				background-size: 100% 100%;
// 				display: block;
// 				height: 32px;
// 				right: 1%;
// 			}
// 		}
// 	}
// }
// .cardBack {
// 	.flip-btn {
//     position: absolute;
//     left: 0;
//     bottom: -40px;
//     width: 100%;
// 		a { 
// 			div:first-child {
// 				background: url(/e2/images/rv7/socialmedia/blackarrowssprite.svg) no-repeat 15px -15px;
// 				position: absolute;
// 				top: 24.2%;
// 				width: 50px;
// 				background-size: 100% 100%;
// 				display: block;
// 				height: 32px;
// 				right: 1%;
// 			}
// 		}
// 	}
// }
