.standto {
  .wordbreak {
    word-break: break-all;
    display: inline-block;
  }
  .body {
    @include bodytext();
  }
  .main-header {
    position: relative;
    padding-top: 8%;
    padding-bottom: 8%;
    color: $secondary-text-color;
    background-image: url("/e2/images/rv7/standto/stand_to_banner_v5.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
  
    div.header-logo {
      background: transparent $social-button-sprite no-repeat scroll -53px -99px;
      width: 275px;
      height: 60px;
      margin: 0 auto;
  
      @include breakpoints(nav) {
        @include scale(1.2);
      }
      @include breakpoints(tablet) {
        @include scale(1.25);
      }
      @include breakpoints(lg_tablet) {
        @include scale(1.4);
      }
      @include breakpoints(sm_desktop desktop large really_big) {
        @include scale(2);
      }
    }
  }
  .hidden {
    display: none !important;
    margin: 0 !important;
  }
}

//Custom Print CSS
@media print {
  .container {
    margin: 0;
    padding: 0;

    .inner-container {
      padding: 0;
    }
  }

  .standto {
    padding-top: 0;

    h1 {
      font-size: 2em;
      text-align: left;
    }

    .small {
      text-align: left;
      .date {
        display: inline-block;
        margin: 0 0 0 15px;
      }
    }

    ul,
    ol,
    p {
      line-height: 1.3em;
      margin-bottom: 1em;
    }

    .body {
      padding: 0;
      ul li,
      ol li {
        line-height: 1.3em;
        margin-bottom: 5px;
      }
    }

    .right-column {
      display: none;
    }
  }

  header,
  nav,
  footer,
  .main-header,
  .social-bar,
  .alt-social-bar,
  .quote {
    display: none;
  }
}
