.wordbreak {
  word-break: break-all;
  display: inline-block;
}

.stand-to {
  //amend to hidden class
  .unsubscribe-div.hidden {
    margin: 0;
  }

  .small {
    .st-byline {
      margin-right: 18px;
    }

    .date {
      color: map-get($army-branding, grey50);
    }

    @include breakpoints(mobile nav tablet) {
      text-align: center;

      .st-byline,
      .date {
        margin: 0;
        display: block;
      }
    }
  }

  .body {
    @include bodytext();

    .left-column {
      h5 {
        margin-bottom: 1em;
        text-transform: inherit;
        margin-top: 2em;
        text-align: left;
      }
    }
  }

  .alt-social-bar {
    margin: 35px 0;
  }

  // ----------------------------------------------------------------------
  // Archive styles, for markdown prior to rv7...
  // ----------------------------------------------------------------------

  &.oldarchive {
    .focus {
      h2,
      h3.body-header {
        font-size: 24px;
        text-transform: uppercase;
        margin: 50px 0 40px;

        @include header-underline(gold);

        @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
          margin: 60px 0 54px;
        }
      }

      h3 {
        font-size: 15px;
        padding: 0 0 7px;
        text-transform: none;
      }

      h3.body-header {
        margin-bottom: 15px;
      }

      h4 {
        font-size: 16px;
        margin: 0;
        padding-bottom: 10px;

        &::after {
          display: none;
        }
      }
    }

    .small {
      @include breakpoints(mobile nav tablet) {
        text-align: center;
      }
    }

    .events {
      h2 {
        margin: 0;
      }

      h2::after {
        background-color: map-get($army-branding, grey80);
      }

      h5 {
        font-size: 12px;
        font-weight: 500;
        padding: 35px 0 0;
        text-transform: none;
      }

      h4 {
        font-weight: 400;
      }

      p {
        font-size: 15px;
      }
    }

    .quote {
      h2 {
        margin-top: 0;
        text-align: center;

        &::after {
          margin-left: auto;
          margin-right: auto;
        }
      }

      blockquote h3 {
        margin: 25px 30px;
        position: relative;
        z-index: 1;
      }

      h3 {
        margin: 25px 0;
        text-align: center;
      }

      .container,
      .inner-container {
        overflow: visible;
      }
    }

    .archive {
      h2 {
        font-size: 28px;

        &::after {
          display: none;
        }
      }

      h4 {
        font-size: 18px;
        margin: 0;
      }
    }

    .events {
      h2 {
        padding: 0 0 10px;
      }

      h4 {
        padding: 30px 0 0;
        text-align: left;
      }

      p {
        padding: 20px 0 0;
        text-align: left;
        margin-bottom: 0px;
      }
    }

    .about {
      h3 {
        font-size: 27px;
        padding-bottom: 20px;
      }

      h2 {
        text-align: center;
        margin: 0;

        &::after {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  // END .oldarchive

  .sub-box {
    padding: 30px;
    border: 1px solid map-get($army-branding, gold);
    margin-bottom: 30px;

    .sub-results {
      color: map-get($stand-to, fail);

      .email-span {
        color: map-get($army-branding, black);
        font-weight: 700;
      }

      &.good {
        color: map-get($stand-to, success);

        .email-span {
          color: map-get($army-branding, black);
          font-weight: 700;
        }
      }
    }

    p {
      font-weight: 600;
    }

    .subscribe {
      label {
        display: block;
        font-weight: 600;
        margin-bottom: em(20);
      }

      input.email-input {
        padding: 15px;
        display: block;
        width: 100%;
        text-align: left;
        font-size: 1em;
        border-radius: 0;
        border: 1px solid map-get($army-branding, grey30);
      }

      .btn > div {
        display: block;
        margin: 15px 0 0 0;
      }
    }
  }

  .events {
    background-color: map-get($army-branding, grey10);
    padding: 30px;

    p:last-child > em {
      font-size: 0.875em;
    }

    ul {
      padding: 20px 0px 0px 20px;
    }
  }

  .archive {
    .archive-search {
      background-color: #f2f2f2;
      overflow: hidden;

      .container {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .search-form-container {
        border: 1px solid #b3b3b3;
        position: relative;
      }

      #search-input {
        border-width: 0;
        font: 1.2em/49px $font-family;
        padding: 3px 60px 0 15px;
        width: 100%;
      }

      .search-btn {
        background-color: #f2c628;
        border: 1px solid #b3b3b3;
        border-width: 0 0 0 1px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 54px;
        outline: none;
      }

      .search-btn::after {
        content: "";
        right: 50%;
        position: absolute;
        top: 50%;
        height: 22px;
      }

      button[type="button"]::after {
        background: transparent $social-button-sprite no-repeat scroll -258px -25px;
        cursor: default;
        margin: -11px -14px 0 0;
        width: 26px;
      }

      button[type="reset"]::after {
        background: transparent url("/e2/images/rv7/mobile_redesign_sprite_icons_v2.svg") no-repeat scroll -284px -24px;
        cursor: pointer;
        margin: -11px -11px 0 0;
        width: 21px;
      }

      @include breakpoints(mobile nav) {
        .container {
          margin-top: 40px;
          margin-bottom: 40px;
        }

        input[type="text"] {
          font-size: 1em;
          line-height: 43px;
        }
      }

      #results-container h3 {
        text-transform: inherit;
        margin-top: 30px;
        font-weight: 600;
      }
    }

    .archive-search-results {
      .results {
        .sjs-results > h5, .ar-results > h5 {
          margin-bottom: 35px;
        }

        h2 {
          margin: 0 0 20px;
        }

        .headlines {

          #results-container {
            .no-results {
              @include breakpoints(tablet nav mobile) {
                text-align: center;
              }
            }
          }
          h5 {
            @include breakpoints(tablet nav mobile) {
              text-align: center;
            }
          }
        }

        .refine-btn {
          float: left;
          padding: 0.7em 0 0 4em;
          margin: 0.25em;
        }
      }
    }
  }

  .about {
    h3 {
      font-size: 27px;
      padding-bottom: 20px;
    }

    h2 {
      text-align: center;
      margin: 0;

      &::after {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .info {
      background-color: map-get($army-branding, darkcamo);
      color: map-get($army-branding, white);
      text-align: center;
      padding: 40px 20px 20px 20px;

      h4 {
        text-align: center;
        margin: 0;

        &::after {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .info-inner {
        border-spacing: 20px;
        display: table;
        margin: 0 auto;
        max-width: 940px;
        overflow: hidden;
        padding: 30px;

        a {
          border: 1px solid $secondary-text-color;
          display: table-cell;
          position: relative;
          text-decoration: none;
          width: 33%;

          .info-box {
            .icon {
              background: transparent $social-button-sprite no-repeat scroll -463px 0;
              height: 100px;
              width: 102px;
              display: inline-block;
              margin: 30px;
            }

            &.box2 .icon {
              background-position: -564px 0;
            }

            &.box3 .icon {
              background-position: -665px 0;
            }

            .box-text {
              margin: 0px 30px 30px 30px;

              p {
                font: 18px $font-family;
                color: $secondary-text-color;

                a {
                  color: $secondary-text-color;
                }
              }
            }
          }
        }

        @include breakpoints(mobile nav) {
          display: block;
          max-width: 545px;
          padding: 30px 0;

          a {
            display: block;
            width: auto;
            margin-top: 20px;
          }
        }
      }
    }

    .sub-box {
      padding: 30px;
      border: 1px solid map-get($army-branding, gold);
      margin-bottom: 30px;

      .sub-results {
        color: map-get($stand-to, fail);

        .email-span {
          color: map-get($army-branding, black);
          font-weight: 700;
        }

        &.good {
          color: map-get($stand-to, success);

          .email-span {
            color: map-get($army-branding, black);
            font-weight: 700;
          }
        }
      }

      p {
        font-weight: 600;
      }

      .subscribe {
        label {
          display: block;
          font-weight: 600;
          margin-bottom: em(20);
        }

        input.email-input {
          padding: 15px;
          display: block;
          width: 100%;
          text-align: left;
          font-size: 1em;
          border-radius: 0;
          border: 1px solid #b3b3b3;
        }

        .btn > div {
          display: block;
          margin: 15px 0 0 0;
        }
      }
    }
  }
}
