<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>U.S. Army STAND-TO! &#124; {{ page.metaTitle }}</title>
    <meta name="keywords" content="STAND-TO!, standto, Army newsletter, information paper, Army senior leaders, senior leaders, official focus US Army, focus, command information, command, Leaders, US Army, Army, Public Affairs, early bird"/>
    <meta name="description" content="STAND-TO! provides the official focus of the US Army." />

    <meta property="og:image" content="https://www.army.mil/e2/images/rv7/standto_ogimageh.jpg" />
    <meta property="og:title" content="STAND-TO!" />
    <meta property="og:site_name" content="{{ page.metatitle }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.army.mil/standto/{{ page.id }}">
    <link rel="canonical" href="https://www.army.mil/standto/{{ page.id }}">
    <link rel="stylesheet" href="/e2/css/rv7/standto/style.css" type="text/css">
    <link rel="apple-touch-icon" href="/e2/images/rv7/army_star_icon_60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/e2/images/rv7/army_star_icon_76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/e2/images/rv7/army_star_icon_120.png">
</head>

<body>
    {% include globals/upgrade.html %}
    {% include globals/header.html %}

    {% if page.active != 'error' %}
    <div class="main" role="main">

        {% include masthead.html %}

        {% include nav.html %}
        {% endif %}

        {{ content }}

        {% if page.active != 'error' %}
    </div>
    {% endif %}
    {% include globals/footer.html %}
    {% include social-bar.html %}
    <script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/e2/js/rv7/3rdparty/waypoints/noframework.waypoints.min.js"></script> -->

    {% include scripts.html %}

    
</body>

</html>