<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.metaTitle }}</title>
    <meta property="keywords" name="keywords" content="army, social media" />
    <meta property="description" name="description" content="{{ page.description }}" />
    <meta property="og:image" content="https://www.army.mil/e2/images/rv7/socialmedia/handbook_og.jpg" />
    <meta property="og:title" content="{{ page.metatitle }}" />
    <meta property="og:site_name" content="{{ page.metatitle }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.army.mil/socialmedia/{{ page.id }}">
    <link rel="canonical" href="https://www.army.mil/socialmedia/{{ page.id }}">
    <link rel="stylesheet" href="/e2/css/rv7/social-media/style.css" type="text/css">
    <script type="text/javascript" src="https://www.army.mil/e2/js/rv7/women/modernizr.custom.js"></script>
</head>

<body>
    {% include globals/upgrade.html %}
    {% include globals/header.html %}

    {% if page.active != 'error' %}
    <div class="main" role="main">

        {% include masthead.html %}

        {% include nav.html %}
    {% endif %}

        {{ content }}

    {% if page.active != 'error' %}
    </div>
    {% endif %}

    {% include globals/footer.html %}
    <script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/e2/js/rv7/3rdparty/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/e2/js/rv7/3rdparty/waypoints/noframework.waypoints.min.js"></script>
    <!-- <script src="/_data/email-dummy-data/emails.json"></script> -->

    <!-- Include script files if page.active == 'archvie' -->
    {% if page.active == 'archive' %}
        {% include form-scripts.html %}
    {% endif %}

    <!-- Include script files if page.active == 'about' -->
    {% if page.active == 'about' or page.active == 'standto' %}
        {% include standto-scripts.html %}
    {% endif %}

    <!-- {% if page.active == 'register' %} 
    {% include register-scripts.html %}
  {% endif %}  -->
    {% include scripts.html %}
</body>

</html>